:root {
    --title-bar-height: 32px;
}

/* Make each screen as wide as all the available space */
ul#screens>li {
    width: 100vw;
    height: calc(100vh - var(--title-bar-height));
    /*background-color: blue;
    /* Create automatically scroll bars if content is longer than there is space */
    overflow-y: auto;
    /* Make position absolute to be able to animate each screen (move animation) */
    position: absolute;
    /* Display each screen at the top */
}
ul#screens>li.window-manager-screen-full-screen {
    /* Maximize when screen is fullscreen */
    height: 100vh;
}


@keyframes moveScreenLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveScreenLeftOut {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
}

.screen-wrapper {
    margin: auto;
    width: 80%;
    max-width: 800px;
    padding: 2em;
    background: white;
    min-height: 80%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 2rem;
}

.screen-wrapper h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.screen-wrapper  ul {
    margin-left: 1rem;
}

.screen-wrapper  ul > li {
    margin: 1rem;
}

.screen-wrapper  ul  ul {
    margin-left: 2rem;
}

.screen-wrapper button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 1rem;
    color: rgb(121, 121, 121);
    background-color: rgb(204, 204, 204);
    transition: .3s ease-out;
}

.screen-wrapper button:hover {
    transition: .3s ease-out;
    background-color: rgb(230, 230, 230);
}

.window-manager-screen-transition-in {
    display: block;
}

.window-manager-screen-transition-in {
    display: block;
    left: 0;
    animation: moveScreenLeft 0.5s linear 1;
}

.window-manager-screen-transition-out {
    display: block;
    left: 100%;
    animation: moveScreenLeftOut 0.5s linear 1;
}

.window-manager-screen-hide {
    display: none;
}

body {
    overflow-x: hidden;
}
