:root {
    --title-bar-height: 32px;
}

/* Make each screen as wide as all the available space */
ul#screens>li {
    width: 100vw;
    height: 100vh;
    /*background-color: blue;
    /* Create automatically scroll bars if content is longer than there is space */
    overflow-y: auto;
    /* Make position absolute to be able to animate each screen (move animation) */
    position: absolute;
    /* Display each screen at the top */
    background-color: var(--ilias-background-color);
}
ul#screens>li.window-manager-title-bar-screen {
    /* Maximize when screen is fullscreen */
    height: calc(100vh - var(--title-bar-height));
}
ul#screens>li.window-manager-screen-full-screen {
    /* Maximize when screen is fullscreen */
    height: 100vh;
}

.screen-wrapper {
    width: 80%;
    max-width: 800px;
    padding: 2em;
    background: var(--ilias-background-color-text);
    min-height: 80%;
    border-radius: 10px;
    margin: 2rem auto;
}

.screen-wrapper h2 {
    font-size: var(--ilias-font-size);
    font-weight: 400;
    color: var(--ilias-text-color);
    margin-bottom: 1rem;
}

.screen-wrapper  ul {
    margin-left: 1rem;
}

.screen-wrapper  ul > li {
    margin: 1rem;
}

.screen-wrapper  ul  ul {
    margin-left: 2rem;
}

.screen-wrapper button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    cursor: pointer;
    color: var(--ilias-text-color-button);
    background-color: var(--ilias-button-bg-color);
    transition: .1s ease-out;
}

.screen-wrapper button.distance-left {
    margin-left: 1rem;
}

.screen-wrapper button:hover {
    transition: .1s ease-out;
    background-color: var(--ilias-button-bg-color-hover);
}

.window-manager-screen-transition-in {
    display: block;
}

.window-manager-screen-hide {
    display: none;
}

body {
    overflow-x: hidden;
}
