<li class="settings-entry settings-entry-keyboard-shortcut">
    {{> partialTitleAndDescription }}
    {{> partialValueText}}
    <button onclick="openExternal('https://electronjs.org/docs/api/accelerator')">Accelerator configuration information</button>
    <br><br>
    {{> partialSetReset specifier='value'}}
</li>
