{{!-- TODO HBS test comment + Check to explain certain code - Add helper --}}
<li class="settings-entry settings-entry-cron-job">
    {{> partialTitleAndDescription }}
    {{> partialValueCronJob }}
    {{> partialSetReset specifier='value'}}
</li>
