<div class="container-link-date">
    <button class="ilias-entry-link-button" onclick="openExternal('{{link}}')">Link</button>
    <p class="ilias-entry-date"><time datetime="{{date.unix}}">{{date.humanReadable}}</time></p>
</div>
