<div class="container-link-date">
    <button class="ilias-entry-link-button browser" onclick="openExternal('{{link}}')">Open in Browser</button>
    <button class="ilias-entry-link-button clipboard" onclick="copyToClipboard('{{link}}')">Copy to Clipboard</button>
    <p class="ilias-entry-date"><time datetime="{{date.unix}}">{{date.humanReadable}}</time></p>
</div>
