<div class="settings-value-container">
    <label>
        <input id="settings-value-id-{{id}}" type="text" placeholder="{{valueDefault}}" name="settings-value-name-{{id}}" value="{{value}}">
    </label>
</div>
