<div class="settings-value-container">
    <label>
        <input id="settings-value-id-{{id}}" type="checkbox" {{#if value}} checked="checked" {{/if}} name="settings-value-name-{{id}}">
    </label>
</div>
