<li class="ilias-entry ilias-entry-post">
    {{> partialCourseAndDirectory }}

    <p class="ilias-entry-forum">Forum {{options.post.forum}}</p>
    <p class="ilias-entry-title">Title {{options.post.title}}</p>

    {{> partialDescription }}
    {{> partialLinkDate }}
</li>
