<li class="ilias-entry ilias-entry-file">
    {{> partialCourseAndDirectory }}

    <div class="container">
        <object class="ilias-entry-file-icon" data="./images/ilias-entries/file-icon.svg" type="image/svg+xml"></object>
        <p class="ilias-entry-file-name">{{options.file.fileName}}</p>
    </div>

    {{> partialDescription }}
    {{> partialLinkDate }}
</li>
