<li class="ilias-entry ilias-entry-post">
    {{> partialCourseAndDirectory }}

    <p>Forum {{options.post.forum}}</p>
    <p>Title {{options.post.title}}</p>

    {{> partialDescription }}
    {{> partialLinkDate }}
</li>
